<%- include ("partials/header.ejs") %>

<main class="container">
  <div id="headings">
    <h2>Blog Posts</h2>
    <h3> <a href="/tags">View All Tags</a> </h3>
  </div>

  <div class="clear"></div>

  <% blogs.forEach(blog =>{ %>
    <a href="/blogs/<%= blog._id %>" class="blog_container">

      <h2><%= blog.title %></h2>
      <p><%= blog.body.substring(0, 100) %> ...  </p>
      <span><%= blog.created %> </span>
      <p class="tags"><em> Tags used: <%= blog.tags %> </em></p>

    </a>
  <% }); %>
</main>



<%- include ("partials/footer.ejs") %>